---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';
import Marcas from '../components/Marcas.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Welcome to Astro.">
	<Menu/>
	<main>
		<Header></Header>
		<Marcas></Marcas>
		<Main></Main>
	</main>
</Layout>

<style>

</style>
