---
import LogoGNec from "../assets/pruebalogo2.png";
---

<div class="lg:w-full bg-green-500 flex justify-between">
    <img src={LogoGNec.src} alt="" class="w-56">
    <ul class="flex justify-evenly items-center w-[40%]">
        <li>INICIO</li>
        <li>PRODUCTOS</li>
        <li>SERVICIOS</li>
        <li>CONTACTO</li>
    </ul>
</div>